[user]
    name = spaceDolph1n
    email = tiagojsr1@gmail.com

[pull]
    rebase = true

[push]
    default = upstream

[init]
    defaultBranch = main

[rebase]
	autoStash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
